<div class="activity">
    <div class="topnav">
        <div class="menu-icon f-left" role="goback">
            <span class="goback1 common-icon icon-goback1"></span>
        </div>
        <div class="menu-content f-left">
            <span>消息中心</span>
        </div>
        <div class="menu-icon f-right">
            <span class="search1 common-icon icon-search1"></span>
        </div>
    </div>
    <div class="loadbtn">
        点击加载更多
    </div>
</div>