<div class="activity" complete="init()">
    <input type="hidden" class="css" value="{{ asset('/css/default/index.css') }}" />
    <input type="hidden" class="javascript" value="{{ asset('/js/default/index.js') }}" />
    <div class="topnav">
        <div id="left-menu" class="menu-icon f-left">
            <span class="menu1 common-icon icon-menu1"></span>
        </div>
        <div class="menu-content f-left">
            <span>首页</span>
        </div>
        <div id="right-menu" class="menu-icon f-right">
            <span class="menu2 common-icon icon-menu2"></span>
        </div>
        <div class="menu-icon f-right" role="activity" data-href="/message/index">
            <span class="message1 common-icon icon-message1"></span>
        </div>
        <div class="menu-icon f-right">
            <span class="search1 common-icon icon-search1"></span>
        </div>
    </div>
    <div class="bd-content">
        <div class="content-mode">
            <div class="c-info">
                <div class="c-avatar f-left"><img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJrHDTjDuqmTTOVMr2S7EPaAMT0uZJca9jStVA3iaAI5Sh99RM1OIBcZUwIJnNNEuSynpib5mtBGKng/46" /></div>
                <div class="c-nickname f-left">bibom</div>
                <div class="c-num f-right">126</div>
            </div>
            <div class="c-title">
                web弹层组件
            </div>
            <div class="c-content">在与同类组件的比较中，layer总是能轻易获胜。她尽可能地在以更少的代码展现更强健的功能，且格外注重性能的提升、易用和实用性，正因如此，越来越多的开发者将媚眼投上了layer（已被2667827人次关注）。layer兼容了包括IE6在内的所有主流浏览器。 她数量可观的接口，使得您可以自定义太多您需要的风格，每一种弹层模式各具特色，广受欢迎。当然，这种“王婆卖瓜”的陈述听起来总是有点难受，因此你需要进一步了解她是否真的如你所愿。
            </div>
        </div>
        <div class="content-mode">
            <div class="c-info">
                <div class="c-avatar f-left"><img src="http://wx.qlogo.cn/mmopen/tIFsB0wH7hP5HFxTCP9DIzZGHMnBgiaAUZyuJiast4CiagdNfNFcHfmbHh3mCSKNWibLs7cxRHX6iah81HKq1RZWLUW5ydQrjlTgT/46" /></div>
                <div class="c-nickname f-left">我是一个被爱伤害过的男人</div>
                <div class="c-num f-right">326</div>
            </div>
            <div class="c-title">
                web弹层组件
            </div>
            <div class="c-content">在与同类组件的比较中，layer总是能轻易获胜。她尽可能地在以更少的代码展现更强健的功能，且格外注重性能的提升、易用和实用性，正因如此，越来越多的开发者将媚眼投上了layer（已被2667827人次关注）。layer兼容了包括IE6在内的所有主流浏览器。 她数量可观的接口，使得您可以自定义太多您需要的风格，每一种弹层模式各具特色，广受欢迎。当然，这种“王婆卖瓜”的陈述听起来总是有点难受，因此你需要进一步了解她是否真的如你所愿。
            </div>
        </div>
        <div class="content-mode">
            <div class="c-info">
                <div class="c-avatar f-left"><img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJrHDTjDuqmTTOVMr2S7EPaAMT0uZJca9jStVA3iaAI5Sh99RM1OIBcZUwIJnNNEuSynpib5mtBGKng/46" /></div>
                <div class="c-nickname f-left">bibom</div>
                <div class="c-num f-right">126</div>
            </div>
            <div class="c-title">
                web弹层组件
            </div>
            <div class="c-content">在与同类组件的比较中，layer总是能轻易获胜。她尽可能地在以更少的代码展现更强健的功能，且格外注重性能的提升、易用和实用性，正因如此，越来越多的开发者将媚眼投上了layer（已被2667827人次关注）。layer兼容了包括IE6在内的所有主流浏览器。 她数量可观的接口，使得您可以自定义太多您需要的风格，每一种弹层模式各具特色，广受欢迎。当然，这种“王婆卖瓜”的陈述听起来总是有点难受，因此你需要进一步了解她是否真的如你所愿。
            </div>
        </div>
        <div class="content-mode">
            <div class="c-info">
                <div class="c-avatar f-left"><img src="http://wx.qlogo.cn/mmopen/PiajxSqBRaEJrHDTjDuqmTTOVMr2S7EPaAMT0uZJca9jStVA3iaAI5Sh99RM1OIBcZUwIJnNNEuSynpib5mtBGKng/46" /></div>
                <div class="c-nickname f-left">bibom</div>
                <div class="c-num f-right">126</div>
            </div>
            <div class="c-title">
                web弹层组件
            </div>
            <div class="c-content">在与同类组件的比较中，layer总是能轻易获胜。她尽可能地在以更少的代码展现更强健的功能，且格外注重性能的提升、易用和实用性，正因如此，越来越多的开发者将媚眼投上了layer（已被2667827人次关注）。layer兼容了包括IE6在内的所有主流浏览器。 她数量可观的接口，使得您可以自定义太多您需要的风格，每一种弹层模式各具特色，广受欢迎。当然，这种“王婆卖瓜”的陈述听起来总是有点难受，因此你需要进一步了解她是否真的如你所愿。
            </div>
        </div>
    </div>
    <div class="loadbtn">
        点击加载更多
    </div>
</div>